/*gelen ozelliklerisifirla*/
*{
    margin: 0;
    padding: 0;
}

.align-col{
    flex-basis: 30%;
    margin-bottom: 5%;
    box-sizing: border-box;
    border-radius: 15px;

}

.align-box{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;

    
}



header{
background: linear-gradient( rgba(5,10,30,0.7),rgba(5,10,30,0.7)),url(img/bg.webp);
min-height: 100vh;
background-size: cover;
background-position: center;
position: relative;
}

nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav a img{
    width: 150px;
}

.nav-links{
    flex: 1;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    float: right;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.nav-links ul li a::after{
    content: "";
    background-color: red;
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    margin-top: 4px;
}
.nav-links ul li a:hover::after{
    width: 100%;
    transition: .3sn;
}

.header .bi{
    color: white;
    font-size: 38px;
    display: none;
}

.bi-list{
    color: white;
    font-size: 30px;
    display: none;
}



.bi-list:hover{
    font-size: 35px;
    transition: .3s;
    cursor: pointer;
}

/*-- Yazi Kutusu*/

.text-box{

    width: 90%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text-box p{
    margin: 10px 0;
    font-size: 15px;
}


.hero-btn{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block;
}
.hero-btn:hover{
    border-color: red;
    background-color: red;
    transition: .3s;
}
/* kursalar*/

.row{
    
    margin-top: 5%;
    justify-content: space-between;
    display: flex;

}

.course-col{
    background-color: antiquewhite;
    padding: 20px 10px;
}

.course-col:hover{
    box-shadow: 0 0 10px gray; 
    transition: .3s;

}
section h1{
    font-size: 40px;
    margin-bottom: 10px;
}

h3{
    margin: 10px 0;

}

section .row div p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 20px;


}


/*CAMPUS*/
.campus-col{
    position: relative;
    overflow: hidden;
    background-color: aqua;

}

.campus-col img{
    width: 100%;
    display: block;
}


.layer {
    background-color: antiquewhite;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
}

.layer:hover{
    background-color: rgba(200, 52, 15, 0.5);
}   

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: .3s;
    font-size: 25px;
    opacity: 0;

}


.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}


.facilities-col img{
    width: 100%;

}
.facilities-col{
    text-align: left;
  

}


.test-col{
    background-color: antiquewhite;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 10px;

}



.test-col img{
    height: 50px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 50%;


}


.test-col div p{
    padding: 0;
}

.test-col h3{
    margin-top: 15px;
}

.test-col div .bi{
    color: red;
}

.ua{
background: linear-gradient( rgba(5,10,30,0.7),rgba(5,10,30,0.7)),url(img/kopenhag.jpg);
background-size: cover;
background-position: center;
padding: 100px 0;
color: white;
margin:100px auto;
border-radius: 10px;
}

.ua h1{
    margin-bottom: 40px;
    padding: 0;
}

footer{
    padding: 30px 0;
}

footer h1{
    margin: 0 0 25px 0;
}

.icons{
    margin: 10px;
}

.icons .bi{
    color: red;
    margin: 0 20px;
    cursor: pointer;
    padding: 20px 10px;
}
/* responsive */
@media (max-width:768px){
    .nav-links{
        display: none;
    }

    .bi-list{
        display: block;
    }

    .row{
        display: block;
    }  

    .ua{
        font-size: 25px;
    }
}